<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.quizapp">

    <!-- Internet Permission -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:theme="@style/Theme.QuizApp">

        <!-- SetupActivity: Quiz Customization Screen -->
        <activity
            android:name=".SetupActivity"
            android:exported="true"
            android:theme="@style/Theme.QuizApp">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- QuizActivity: Quiz Functionality -->
        <activity
            android:name=".QuizActivity"
            android:exported="false"
            android:theme="@style/Theme.QuizApp" />

        <!-- SummaryActivity: Quiz Summary -->
        <activity
            android:name=".SummaryActivity"
            android:exported="false"
            android:theme="@style/Theme.QuizApp" />
    </application>

</manifest>
